<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input [(ngModel)]="newUser.name" type="text" class="form-control"></td>
            <td><input [(ngModel)]="newUser.age" type="number" class="form-control"></td>
            <td><input [(ngModel)]="newUser.email" type="text" class="form-control"></td>
            <td>
              <button (click)="onCreate(newUser)" class="btn btn-success">
                add
              </button>
            </td>
          </tr>
          <tr *ngFor="let item of items | async">
            <td><input [(ngModel)]="item.name" type="text" class="form-control"></td>
            <td><input [(ngModel)]="item.age" type="number" class="form-control"></td>
            <td><input [(ngModel)]="item.email" type="text" class="form-control"></td>
            <td>
              <div class="btn-group">
                <button (click)="onUpdate(item)" class="btn btn-info">
                  update
                </button>
                <button (click)="onDelete(item)" class="btn btn-danger">
                  delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
